@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	width: 20%
	padding: 40px;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
}

nav {
	text-align: center;
	padding-top: 20px;
}

nav a {
	margin-right: 10px;
	margin-left: 10px;
}

#page-title{
	text-align: center; 
	padding-bottom: 80px;
	padding-top: 80px; 
}

h1 {
	padding-bottom: 20px;
}

body {
	font-family: Avenir, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: black;
	font-family: Avenir, sans-serif;
	font-size: 20px;
}

.project-1 img { 
	border: 10px #FFEBEB solid;
}

.project-2 img {
	border: 10px #EBF1FF solid;
}

.project-text {
	padding-left: 20px;
	text-align: left;
}

.project-text h2 {
	padding-bottom: 15px;
}

.project-text p {
	padding-bottom: 10px;
}
 
.project-text2 h2 {
	padding-bottom: 15px;
}

.project-text2 p {
	padding-bottom: 10px;
}
.project-text2 {
	padding-right: 20px;
	text-align: right;
}

.project-1 > * {
	width: 50%;
	float: left; 
}

.project-2 > * {
	width: 50%;
	float: right;
}
 
.project-2 {
	padding-top: 80px;
	padding-bottom: 80px;
}
 
article div {
	padding: 4em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.p2 {
	font-size: 1.5em;
}

h1,h2 {
	font-family: poppins, sans-serif;
	font-weight: 700;
}


h2 {
	font size:1.5em;
}

img {
	width: 50%;
}

#contact-form { 
	width: 30%;
	margin: auto;
	padding-bottom: 80px;
}

#contact-form h2 {
	text-align: center;
	padding-bottom: 20px;
}

#contact-form p {
	text-align: center;
	padding-bottom: 20px;
}

input, textarea {
		width: 100%;
	}

input {
	padding-top: 10px;
	padding-bottom: 10px;
}

textarea {
	height: 60px;
}

hr {
	margin: auto;
	width: 80px;
	color: grey;
}

footer {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;

}


.right-footer {
	float: right; 
	width: 50%;
	margin: auto;
}

.left-footer {
	float: left;
	display: inline-block;
	width: 50%;
	margin: auto;
}

<meta name="viewport" content="width=device-width, initial-scale=1">

@media only screen and (max-width: 480px) {
	.project-1 > * {
	width: 80%;
	float: none; 
}

.project-2 > * {
	width: 80%;
	float: none;
}
 
.project-2 {
	padding-top: 80px;
	padding-bottom: 80px;
}
	}

