@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap);

body {
	font-family: Avenir, sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5em;
}

header {
	background-color: #FFED74;
	border: 1px solid black;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px solid black;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px solid black;
	padding: 20px;
}

form {
	background-color: #FFC675;
	border: 1px solid black;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px solid black;
	padding: 20px;
}

.p2 {
	font-size: 30px;
}

h1,h2 {
	font-family: poppins, sans-serif;
	font-weight: 700;
}

h1 {
	font-size: 48px;
}

h2 {
	font size:30px;
}

